.dashboard{
    margin-left: 30px;
}
.dashboard h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}
.EmployeeCount {
    background-color: #1DB954;
    width: 180px;
    height: 100px;
    color: white;
    padding: 10px;
   margin-top: 15px;
    border-radius: 5px;

  }
  
  .EmployeeCount h4 {
    margin-top: 20px;
    font-size: 30px;
    font-family: monospace;
    font-weight: 200;
  }
  .EmployeeCount p {
    margin: 5px 0;
    font-size: 30px;
  }
  .EmployeeCount .pic{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 120px;
    margin-top: -94px;
    border-radius: 50px;
  }