/* In your CSS file */
.EmployeeTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .EmployeeTable th,
  .EmployeeTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    /* font-family: monospace ; */
    font-family:  Consolas, monaco, monospace;
    font-weight: 300;
  }
  
  .EmployeeTable th {
    background-color: #1DB954;
    color: white;
  }
  
  .EmployeeTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .EmployeeTable img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  }
  
  /* input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
  }
  
  input[type="text"]:focus {
    outline: none; /* Remove the default focus outline */
    /* border-color: #007BFF;
  }  */